<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Test Suite Demo" verbose="1" >
    <test name="The Internet Site Demo" >
        <classes>
            <!--<class name="testcase.TestLoginPage"/>;-->
            <!--<class name="testcase.TestRegisterPage"/>;-->
            <!--<class name="testcase.TestSignOutPage"/>;-->
            <!--<class name="testcase.TestMenuHomePage"/>;-->
            <!--<class name="testcase.TestHuongDanDatMonPage"/>;-->
            <!--<class name="testcase.TestDanhChoDoiTacPage"/>;-->
            <!--<class name="testcase.TestTuyenDungPage"/>;-->
            <!--<class name="testcase.TestProductDetailPage"/>;-->
            <class name="testcase.TestSelectProductPage"/>;






        </classes>
    </test>
</suite>
